@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 986px;
  margin: 0 auto;
}

.head__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__image {
  padding: 0 0 10px 0;
}

.logo__name {
  font-family: Nunito;
  font-size: 31.2px;
  font-weight: 400;
  padding: 0 0 0 10px;
  text-transform: uppercase;
  color: #6d6e70;
}

.head__menu {
  font-family: 'Open Sans';
  font-size: 13.2px;
  font-weight: 600;
  opacity: 0.67;
}

.head__menu a {
  color: #666666;
  margin: 0 0 0 20px;
}

.head__button {
  font-family: 'Open Sans';
  font-size: 13.2px;
  font-weight: 600;
  color: #fff;
  padding: 10px 30px;
  background: #add136;
  border-radius: 25px;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.intellectual {
  margin: 0 auto;
  width: 1300px;
  height: 570px;
  background: url(../img/intellectual_background.png) 0 0/cover no-repeat;
}

.intellectual-opacity {
  background: rgba(66, 89, 72, 0.29);
}

.intellectual__row {
  height: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intellectual__head {
  font-family: 'Open Sans';
  text-align: center;
  color: #fff;
  line-height: 77px;
  padding: 0 0 60px 0;
}

.intellectual__head p {
  font-size: 35.2px;
  font-weight: 400;
}

.intellectual__title {
  font-size: 49.2px;
  font-weight: 600;
}

.intellectual__button {
  font-family: 'Open Sans';
  font-size: 19.2px;
  font-weight: 600;
  color: #fff;
  background: #99c50a;
  border-radius: 10px;
  padding: 20px 40px;
}

.presentation__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.presentation__body {
  color: #515151;
  font-family: 'Open Sans';
}

.body__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.presentation__logo {
  margin: 100px 0 50px 0;
}

.presentation__title {
  font-size: 31.2px;
  line-height: 50px;
  font-weight: 600;
  text-transform: uppercase;
  width: 510px;
  margin: 0 0 70px;
}

.presentation__text {
  font-size: 19.2px;
  line-height: 1.2;
  font-weight: 400;
  width: 925px;
}

.presentation__text p {
  padding: 0 0 50px 0;
}

.presentation__list {
  margin: 105px 0 0 0;
}

.list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list__number {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: 'Open Sans';
  padding: 0 40px 37px 0;
  margin: 0 0 -1px 0;
}

.line__number {
  padding: 17px 21.5px;
  background: #5f5f5f;
  border-radius: 50%;
  font-size: 20.2px;
  font-weight: 600;
  color: #fff;
}

.line__text {
  font-size: 33.2px;
  font-weight: 300px;
  color: #656565;
  padding: 0 0 0 30px;
}

.list__line-color-1 {
  border-bottom: 1px solid #add136;
}

.number__style-1 {
  background: #add136;
}

.list__browseproject {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.list__browseproject::before {
  content: '';
  background: #000;
  height: 0.5px;
  border: 0.5px solid #000;
  display: block;
  opacity: 0.1;
}

.browseproject__row {
  padding: 65px 0 100px 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.browseproject__image {
  padding: 25px 0 0 0;
}

.browseproject__text {
  font-family: 'Open Sans';
  padding: 0 0 0 105px;
}

.browseproject__text p {
  font-size: 17.2px;
  line-height: 1.2;
  font-weight: 400;
  color: #606060;
  opacity: 0.67;
}

.browseproject__title {
  font-size: 25.2px;
  font-weight: 400;
  color: #add136;
  margin: 0 0 34px 0;
}

.find__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.find__left {
  height: 308px;
  margin: 0 0 0 -135px;
  padding: 0 135px 0;
  background: #e2f8ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.find__right {
  height: 308px;
  padding: 0 0 0 75px;
  margin: 0 -140px 0;
  background: #f5f9eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.find__body {
  color: #515151;
  padding: 0 65px 0 45px;
}

.find__title {
  font-family: Montserrat;
  font-size: 23.2px;
  font-weight: 700;
  margin: 0px 0 35px 0;
}

.find__text {
  font-family: 'Open Sans';
  font-size: 17.2px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0 0 31px 0;
}

.button {
  font-family: 'Open Sans';
  font-size: 14.9px;
  font-weight: 600;
  color: #fff;
  border-radius: 10px;
  padding: 10px 25px;
}

.find__button-left {
  background: #26a6d1;
}

.find__button-right {
  background: #add136;
}

.feature__header {
  margin: 0 0 66px 0;
}

.feature-header__row {
  margin: 81px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.elem__title {
  font-family: 'Open Sans';
  font-size: 29.2px;
  font-weight: 600;
  color: #515151;
  margin: 0 0 26px 0;
}

.elem__text {
  font-family: 'Open Sans';
  font-size: 17.2px;
  font-weight: 400;
  color: #8f8f8f;
  padding: 0 100px 0 0;
}

.header__title-button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  color: #515151;
  background: #fff;
  opacity: 0.7;
  border: 1px solid #515151;
}

.feature-columns__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature__column {
  background: #fafafa;
  width: 300px;
  border: 1px solid #e3e3e3;
  border-radius: 13px;
}

.column__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feature-column__image {
  width: 300px;
  height: 226px;
  background: url(../img/feature_new_label.png) 0 0 no-repeat, url(../img/feature_gbp.png) 146px 173px no-repeat, url(../img/feature__background_1.png) 0 0 no-repeat;
}

.column-back2 {
  background: url(../img/feature_new_label.png) 0 0 no-repeat, url(../img/feature_gbp.png) 146px 173px no-repeat, url(../img/feature_background_2.png) 0 0 no-repeat;
}

.feature-column__text {
  font-family: 'Open Sans';
  color: #484848;
  padding: 30px 25px 20px 25px;
}

.feature-column__title {
  font-size: 17.2px;
  font-weight: 700;
}

.feature-column__about {
  font-size: 13.2px;
  font-weight: 400;
  opacity: 0.7;
  line-height: 1.2;
}

.column__bar {
  padding: 0 25px;
}

.column__bar::after {
  content: '';
  background: #000;
  height: 0.25px;
  border: 0.25px solid #000;
  display: block;
  opacity: 0.23;
  margin: 17px 0 26px 0;
}

.column-bar__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bar__loading {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  height: 14px;
  background: #e3e3e3;
  border-radius: 25px;
  margin: 0 0 20px 0;
}

.load {
  width: 10%;
  height: 14px;
  background: #add136;
  border-radius: 25px;
}

.load-bar2 {
  width: 60%;
}

.bar__percent {
  font-family: 'Open Sans';
  font-size: 13.2px;
  font-weight: 600;
  color: #8d8d8d;
}

.bar__days {
  font-family: 'Open Sans';
  font-size: 13.2px;
  font-weight: 600;
  color: #8d8d8d;
}

.column__link-detils {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 32px 24px 0;
  font-family: 'Open Sans';
  font-size: 15.2px;
  font-weight: 600;
  color: #484848;
  opacity: 0.85;
  background: url(../img/feature_shape.png) right no-repeat;
  padding: 0 22px 0 0;
}

.column__link-detils a {
  color: #484848;
  opacity: 0.85;
}

.footer::before {
  content: '';
  background: #000;
  height: 1px;
  opacity: 0.1;
  display: block;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__text {
  color: #848484;
  font-family: 'Open Sans';
  font-size: 13.2px;
  font-weight: 400;
}
