@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Open+Sans:wght@300;400;600;700&display=swap');
@import 'null_style.scss';

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.head {
}
.container {
  max-width: 986px;
  margin: 0 auto;
}
.head__row {
  display: flex;
  height: 85px;
  align-items: center;
  justify-content: space-between;
}
.head__logo {
}
.logo__row {
  display: flex;
  align-items: center;
}
.logo__image {
  padding: 0 0 10px 0;
}
.logo__name {
  font-family: Nunito;
  font-size: 31.2px;
  font-weight: 400;
  padding: 0 0 0 10px;
  text-transform: uppercase;
  color: #6d6e70;
}
.head__menu {
  font-family: 'Open Sans';
  font-size: 13.2px;
  font-weight: 600;
  opacity: 0.67;
  a {
    color: #666666;
    margin: 0 0 0 20px;
  }
}
.head__button {
  font-family: 'Open Sans';
  font-size: 13.2px;
  font-weight: 600;
  color: #fff;
  padding: 10px 30px;
  background: #add136;
  border-radius: 25px;
}
/////////////////////////////////////////
.content {
  flex: 1 1 auto;
}

.intellectual {
  margin: 0 auto;
  width: 1300px;
  height: 570px;
  background: url(../img/intellectual_background.png) 0 0 / cover no-repeat;
}
.intellectual-opacity {
  background: rgba(66, 89, 72, 0.29);
}
.intellectual__row {
  height: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intellectual__head {
  font-family: 'Open Sans';
  text-align: center;
  color: #fff;
  line-height: 77px;
  padding: 0 0 60px 0;
  p {
    font-size: 35.2px;
    font-weight: 400;
  }
}
.intellectual__title {
  font-size: 49.2px;
  font-weight: 600;
}
.intellectual__button {
  font-family: 'Open Sans';
  font-size: 19.2px;
  font-weight: 600;
  color: #fff;
  background: #99c50a;
  border-radius: 10px;
  padding: 20px 40px;
}
///////////////////////////////////////////////////
.presentation {
}
.presentation__row {
  display: flex;
  flex-direction: column;
}
.presentation__body {
  color: #515151;
  font-family: 'Open Sans';
}
.body__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.presentation__logo {
  margin: 100px 0 50px 0;
}
.presentation__title {
  font-size: 31.2px;
  line-height: 50px;
  font-weight: 600;
  text-transform: uppercase;
  width: 510px;
  margin: 0 0 70px;
}
.presentation__text {
  font-size: 19.2px;
  line-height: 1.2;
  font-weight: 400;
  width: 925px;
  p {
    padding: 0 0 50px 0;
  }
}

.presentation__list {
  margin: 105px 0 0 0;
}
.list__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list__number {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  align-content: center;
  font-family: 'Open Sans';
  padding: 0 40px 37px 0;
  margin: 0 0 -1px 0;
}
.line__number {
  padding: 17px 21.5px;
  background: #5f5f5f;
  border-radius: 50%;
  font-size: 20.2px;
  font-weight: 600;
  color: #fff;
}
.line__text {
  font-size: 33.2px;
  font-weight: 300;
  color: #656565;
  padding: 0 0 0 30px;
}
.list__line-color-1 {
  border-bottom: 1px solid #add136;
}
.list__line-color-2 {
}
.list__line-color-3 {
}
.number__style-1 {
  background: #add136;
}
.number__style-2 {
}
.number__style-3 {
}
.list__browseproject {
  flex: 0 1 100%;
  &::before {
    content: '';
    background: #000;
    height: 0.5px;
    border: 0.5px solid #000;
    display: block;
    opacity: 0.1;
  }
}
.browseproject__row {
  padding: 65px 0 100px 88px;
  display: flex;
}
.browseproject__image {
  padding: 25px 0 0 0;
}
.browseproject__text {
  font-family: 'Open Sans';
  padding: 0 0 0 105px;
  p {
    font-size: 17.2px;
    line-height: 1.2;
    font-weight: 400;
    color: #606060;
    opacity: 0.67;
  }
}
.browseproject__title {
  font-size: 25.2px;
  font-weight: 400;
  color: #add136;
  margin: 0 0 34px 0;
}
///////////////////////////////////////////////////////
.find {
}
.find__row {
  display: flex;
}
.find__left {
  height: 308px;
  margin: 0 0 0 -135px;
  padding: 0 135px 0;
  background: #e2f8ff;
  display: flex;
  align-items: center;
}
.find__right {
  height: 308px;
  padding: 0 0 0 75px;
  margin: 0 -140px 0;
  background: #f5f9eb;
  display: flex;
  align-items: center;
}
.find__image {
}
.find__body {
  color: #515151;
  padding: 0 65px 0 45px;
}
.find__title {
  font-family: Montserrat;
  font-size: 23.2px;
  font-weight: 700;
  margin: 0px 0 35px 0;
}
.find__text {
  font-family: 'Open Sans';
  font-size: 17.2px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0 0 31px 0;
}
.button {
  font-family: 'Open Sans';
  font-size: 14.9px;
  font-weight: 600;
  color: #fff;
  border-radius: 10px;
  padding: 10px 25px;
}
.find__button-left {
  background: #26a6d1;
}
.find__button-right {
  background: #add136;
}
///////////////////////////////////////////////////////////
.featured {
}

.featured__row {
  display: flex;
  flex-direction: column;
}
.feature__header {
  margin: 0 0 66px 0;
}
.feature-header__row {
  margin: 81px 0 0 0;
  display: flex;
  align-items: center;
}
.header__title-elem {
}
.elem__title {
  font-family: 'Open Sans';
  font-size: 29.2px;
  font-weight: 600;
  color: #515151;
  margin: 0 0 26px 0;
}
.elem__text {
  font-family: 'Open Sans';
  font-size: 17.2px;
  font-weight: 400;
  color: #8f8f8f;
  padding: 0 100px 0 0;
}
.header__title-button {
  flex: 0 0 auto;
  color: #515151;
  background: #fff;
  opacity: 0.7;
  border: 1px solid #515151;
}
.feature__columns {
}
.feature-columns__row {
  display: flex;
  justify-content: space-between;
}
.feature__column {
  background: #fafafa;
  width: 300px;
  border: 1px solid #e3e3e3;
  border-radius: 13px;
}
.column__row {
  display: flex;
  flex-direction: column;
}
.feature-column__image {
  width: 300px;
  height: 226px;
  background: url(../img/feature_new_label.png) 0 0 no-repeat, url(../img/feature_gbp.png) 146px 173px no-repeat, url(../img/feature__background_1.png) 0 0 no-repeat;
}
.column-back2 {
  background: url(../img/feature_new_label.png) 0 0 no-repeat, url(../img/feature_gbp.png) 146px 173px no-repeat, url(../img/feature_background_2.png) 0 0 no-repeat;
}
.feature-column__text {
  font-family: 'Open Sans';
  color: #484848;
  padding: 30px 25px 20px 25px;
}
.feature-column__title {
  font-size: 17.2px;
  font-weight: 700;
}
.feature-column__about {
  font-size: 13.2px;
  font-weight: 400;
  opacity: 0.7;
  line-height: 1.2;
}
.column__bar {
  padding: 0 25px;
  &::after {
    content: '';
    background: #000;
    height: 0.25px;
    border: 0.25px solid #000;
    display: block;
    opacity: 0.23;
    margin: 17px 0 26px 0;
  }
}
.column-bar__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bar__loading {
  flex: 0 1 100%;
  height: 14px;
  background: #e3e3e3;
  border-radius: 25px;
  margin: 0 0 20px 0;
}
.load {
  width: 10%;
  height: 14px;
  background: #add136;
  border-radius: 25px;
}
.load-bar1 {
}
.load-bar2 {
  width: 60%;
}
.load-bar3 {
}
.bar__percent {
  font-family: 'Open Sans';
  font-size: 13.2px;
  font-weight: 600;
  color: #8d8d8d;
}
.bar__days {
  font-family: 'Open Sans';
  font-size: 13.2px;
  font-weight: 600;
  color: #8d8d8d;
}
.column__link-detils {
  align-self: flex-end;
  margin: 0 32px 24px 0;
  font-family: 'Open Sans';
  font-size: 15.2px;
  font-weight: 600;
  color: #484848;
  opacity: 0.85;
  background: url(../img/feature_shape.png) right no-repeat;
  padding: 0 22px 0 0;
  a {
    color: #484848;
    opacity: 0.85;
  }
}
//////////////////////////////////////////////////////////
.growing {
  margin: 0 auto;
  width: 1300px;
  height: 605px;
  background: url(../img/growing_background.png) -15px -65px / cover no-repeat;
}
.growing__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.growing__header {
  text-align: center;
  margin: 79px 0 98px 0;
}
.growind__title {
  font-family: 'Open Sans';
  font-size: 39.2px;
  font-weight: 600;
  color: #9ec02d;
  margin: 0 0 42px 0;
}
.growing__text {
  font-family: 'Open Sans';
  font-size: 19.2px;
  line-height: 1.2;
  font-weight: 400;
  color: #949494;
}
.growing__review {
  width: 397px;
}
.review__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.review__comments {
  flex: 0 1 100%;
  width: 397px;
  height: 166px;
  background: url(../img/review__background.png);
  text-align: center;
  font-family: 'Open Sans';
  margin: 0 0 14px 0;
}
.comments__title {
  align-self: center;
  font-size: 21.2px;
  font-weight: 600;
  color: #9ec02d;
  margin: 25px 0 22px 0;
}
.comments__text {
  font-size: 13.2px;
  line-height: 1.2;
  color: #848484;
  padding: 0 42px 0 36px;
}
.comments__photo {
  margin: 0 18px 0 49px;
}
.comments__name {
  font-family: Montserrat;
  font-size: 15.2px;
  font-weight: 400;
  color: #494949;
}
.review-position1 {
}
.review-position2 {
  margin: 0 37px 0 0;
}
/////////////////////////////////////////////////////////
.label {
  text-align: center;
  margin: 45px 0 41px 0;
}
///////////////////////////////////////////////////////////
.footer {
  &::before {
    content: '';
    background: #000;
    height: 1px;
    opacity: 0.1;
    display: block;
  }
}
.footer__row {
  display: flex;
  height: 65px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__text {
  color: #848484;
  font-family: 'Open Sans';
  font-size: 13.2px;
  font-weight: 400;
}
